.form-section {
  min-height: 80vh;
  @include flex(center, center, row);
  margin-top: 2rem;
  form {
    padding: 2rem 6rem;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
      0px 20px 40px rgba($color: #000000, $alpha: 0.2);
    border-radius: 1.5rem;
    @include flex(space-around, center, column);
    input,
    textarea {
      margin: 1.5rem;
      &:focus {
        outline: 2px solid black;
      }
    }
    textarea {
      font-size: 2rem;
      font-family: sans-serif;
    }
    button {
      width: 100%;
      padding: 1.2rem 1.5rem;
      background-color: $background-color;
      color: white;
      text-decoration: none;
      /*important border none */
      border: none;
      &:focus {
        background-color: rgb(51, 105, 107);
      }
    }
  }
}
