/* INCLUDE ALL VARIABLES AND HELPER CLASSES ABOVE, then include all scss parts with @import */
/* MINIFIED .MIN means that there is no white spaces but code still gonna work */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

nav .logo h1 {
  margin: 1.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 5rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* inline-block is used to we can reduce the width of H2 so the gradient looks good, otherwise it will
    only have 1 color since is quite large */
  display: inline-block;
}

.intro h3 {
  font-size: 4rem;
  padding: 1.5rem 0rem;
}

.intro p {
  padding-top: 1rem;
  color: #2c2c2c;
}

.intro-social {
  margin-top: 2.5rem;
}

.intro-social a {
  margin-right: 2.5rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.splash {
  z-index: -2;
  position: absolute;
}

#left-leaf {
  -webkit-animation: leaf 1.5s ease infinite alternate;
          animation: leaf 1.5s ease infinite alternate;
}

#right-leaf {
  -webkit-animation: leaf 1.5s ease infinite alternate 0.5s;
          animation: leaf 1.5s ease infinite alternate 0.5s;
}

@-webkit-keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@media screen and (max-width: 902px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.clock {
  -webkit-animation: clock 1.5s infinite linear;
          animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  /* text-align here aligns the h2 && the image!!!!!!!!!!!!!!!! */
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0rem;
}

.projects h2 {
  margin: 2.5rem;
}

.projects .travelly img,
.projects .photo img {
  width: 80%;
  height: 8%;
}

.projects .travelly,
.projects .photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.form-section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.form-section form {
  padding: 2rem 6rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-section form input,
.form-section form textarea {
  margin: 1.5rem;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-size: 2rem;
  font-family: sans-serif;
}

.form-section form button {
  width: 100%;
  padding: 1.2rem 1.5rem;
  background-color: #154343;
  color: white;
  text-decoration: none;
  /*important border none */
  border: none;
}

.form-section form button:focus {
  background-color: #33696b;
}

footer {
  background: #154343;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
}
/*# sourceMappingURL=style.css.map */